 .emi-calculator {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #79e37e;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #edf2ed;
    color: black;
  }
  
  h3 {
    color: #f0f5f0;
  }
   
  .form-container {
    background-color: #34495e; /* Dark blue background */
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64"%3E%3Cg fill="%23ffffff" fill-opacity="0.04"%3E%3Cpath fill-rule="evenodd" d="M64 8c0 4-4 8-8 8s-8-4-8-8 4-8 8-8 8 4 8 8zM32 0c4 0 8 4 8 8s-4 8-8 8-8-4-8-8 4-8 8-8zM0 0c0 4-4 8-8 8s-8-4-8-8 4-8 8-8 8 4 8 8zM64 40c0 4-4 8-8 8s-8-4-8-8 4-8 8-8 8 4 8 8zM32 32c4 0 8 4 8 8s-4 8-8 8-8-4-8-8 4-8 8-8zM0 32c0 4-4 8-8 8s-8-4-8-8 4-8 8-8 8 4 8 8zM64 64c0 4-4 8-8 8s-8-4-8-8 4-8 8-8 8 4 8 8zM32 64c4 0 8 4 8 8s-4 8-8 8-8-4-8-8 4-8 8-8zM0 64c0 4-4 8-8 8s-8-4-8-8 4-8 8-8 8 4 8 8z" clip-rule="evenodd"%3E%3C/path%3E%3C/g%3E%3C/svg%3E'); /* Subtle pattern background */
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
   
   
}

.form-container h2 {
    text-align: center;
    color: #ffffff;
}
.form-control {
  
  background-color: #2c3e50; /* Dark blue input background */
  color: #ffffff; /* White text color */
  border: 1px solid #566573; /* Gray border */
  
}   


button {
  background-color: #051f3d; /* Navy blue button */
  color: #ffffff; /* White text color */
  padding: 15px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}