  <!-- <div style="background-image: url('/assets/images/sl_121021_47240_04.jpg'); background-repeat: no-repeat; background-size: cover; height: 100vh;"></div>
      
      <div class="container col col-9">
        <div class="" style="margin-left: 800px; padding-top: 120px;">
            <div class="form-container">
                <h2>EMI Calculator</h2>
             
                <div>
                  <label for="loanAmount">Loan Amount (INR):</label> 
                 <input type="number" id="loanAmount"  class="form-control" [(ngModel)]="loanAmount"  placeholder="loanAmount" />
               </div>
             
               <div>
                 <label for="loanTerm">Loan Term (in months): </label>
                 <input type="number" id="loanTerm" class="form-control" [(ngModel)]="loanTerm"  placeholder="Loan Term (in months):"/>
               </div>
             
               <div>
                 <label for="interestrate">Interest Rate (annual): </label>
                 <input type="text" id="interestrate"  class="form-control" [(ngModel)]="interestRate" />
               </div>
                    <br>
               <button (click)="calculateEMI()">Calculate EMI</button>
 
               <div *ngIf="emi !== undefined">
                 <h3>Monthly EMI: {{ emi | currency:'INR':'symbol':'1.2-2' }}</h3>
                 
               </div>
               
               
               
            </div>
        </div>
    </div>
      </div>  -->

