<div style="background-image: url('/assets/images/enqu.jpg'); background-repeat:no-repeat ; background-size: cover; height: 90vh;">
<form [formGroup]="registerCustomer" (ngSubmit)="onsubmit()">
  <div id="msform" class="pt-5">
    <fieldset *ngIf="step == 1">
      <h2 class="fs-title">Applicant Details</h2>
      <div class="row">
        <div class="col">
          <input type="text" formControlName="customerName" placeholder="Applicant Name" />
        </div>
        <div class="col">
          <input type="number" formControlName="mobileNo" placeholder="Mobile Number" />
        </div>
        <div class="col">
          <input type="email" formControlName="email" placeholder="Email" />
        </div>
        <div class="col">
          <input type="text" formControlName="address" placeholder="Address" />
        </div>
        <div class="col">
          <input type="text" formControlName="username" placeholder="User Name" />
        </div>
        <div class="col">
          <input type="text" formControlName="password" placeholder="Password" />
        </div>
        
      </div>
      <input (click)="next()" type="button" name="next" class="next action-button" value="Next" />
    </fieldset>

    <div formGroupName="bank">
    <fieldset *ngIf="step == 2">
      <h2 class="fs-title">Bank Details</h2>
      <div class="row">
        <div class="col">
          <input type="number" formControlName="accountNo" placeholder="Account Number" />
        </div>
        <div class="col">
          <input type="text" formControlName="bankIFSC" placeholder="Bank IFSC Code" />
        </div>
        <div class="col">
          <input type="text" formControlName="branchAddress" placeholder="Branch Address" />
        </div>
      </div>
      <input (click)="previous()" type="button" name="previous" class="previous action-button-previous" value="Previous" />
      <input (click)="next()" type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    </div>

    <div formGroupName="document">
    <fieldset *ngIf="step == 3">
      <h2 class="fs-title">Upload Documents</h2>  
      <div class="row">
        <div class="col">
          <label>Upload Customer Photo:</label>
         
          <input type="file" formControlName="customerPhoto" (change)="onSelectCustPhoto($event)">
          <img [src]="imgSrc1" height="50px">
        </div>
        <div class="col">
          <label>Upload Aadharcard:</label>
        
          <input type="file" formControlName="adharCard" (change)="onSelectAdhar($event)">
          <img [src]="imgSrc2" height="50px">
        </div>
        <div class="col">
          <label>Upload Pancard:</label>
     
          <input type="file" formControlName="panCard" (change)="onSelectPan($event)">
          <img [src]="imgSrc3" height="50px">
        </div>
        <div class="col">
          <label>Upload Bank PassBook:</label>
      
          <input type="file" formControlName="bankPassbook" (change)="onSelectPassbook($event)">
          <img [src]="imgSrc4" height="50px">
        </div>
        <div class="col">
          <label>Upload Income Certificate:</label>
        
          <input type="file" formControlName="incomeCertificate" (change)="onSelectIncome($event)">
          <img [src]="imgSrc5" height="50px">
        </div>
        <!-- Add similar blocks for other document uploads -->
      </div>
      <input (click)="previous()" type="button" name="previous" class="previous action-button-previous" value="Previous" />
      <input type="submit" name="submit" class="submit action-button">
    </fieldset>
    </div>
  </div>
</form>
</div>