<div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title text-primary"><i class="fa fa-address-card-o" aria-hidden="true">&nbsp;4</i></h1>
          <p class="card-text">Total Applicant</p>
        
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title text-success"><i class="fa fa-check-circle-o" aria-hidden="true">&nbsp;2</i></h1>
          <p class="card-text">Approved</p>
        
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title text-danger"><i class="fa fa-times" aria-hidden="true">&nbsp;2</i></h1>
            <p class="card-text">Rejected</p>
          
          </div>
        </div>
      </div>
  
  </div>
