


<body>
    <div class="container">
        <h3>Customer Details</h3>
    <table class="table table-hover" border="3">
        <thead>
            <tr>
                <th>Customer Id</th>
                <th>Customer Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Mobile No</th>
                <th>User Name</th>
                <th>Password</th>
                <th>Account No</th>
                <th>IFSC Code</th>
                <th>Bank Address</th>
                <th>Customer Photo</th>
                <th>Adhar Card</th>
                <th>Pan Card</th>
                <th>Income Certificate</th>
                <th>Bank Passbook</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customerList">
                <td>{{customer.customerId}}</td>
                <td>{{customer.customerName}}</td>
                <td>{{customer.address}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.mobileNo}}</td>
                <td>{{customer.username}}</td>
                <td>{{customer.password}}</td>
                <td>{{customer.bank.accountNo}}</td>
                <td>{{customer.bank.bankIFSC | uppercase}}</td>
                <td>{{customer.bank.branchAddress}}</td>
                <td><img [src]="'customerList:image/jpeg;base64,' +customer.document.customerPhoto" height="70px" width="70px"></td>
                <td><img [src]="'customerList:image/jpeg;base64,' +customer.document.adharCard" height="70px" width="70px"></td>
                <td><img [src]="'customerList:image/jpeg;base64,' +customer.document.panCard" height="70px" width="70px"></td>
                <td><img [src]="'customerList:image/jpeg;base64,' +customer.document.bankPassbook" height="70px" width="70px"></td>
                <td><img [src]="'customerList:image/jpeg;base64,' +customer.document.incomeCertificate" height="70px" width="70px"></td>
                <td>
                    <button type="submit" class="btn btn-primary">Approve</button>
                    <button type="submit" class="btn btn-danger">Reject</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
