
body {
   
    background-image: url('/assets/images/605746.jpg'); 

    background-size: cover;
    height: 90vh;
    width: 100%;

}
.container {
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background-color: rgba(255, 255, 255, 0.8);

   
} 

h3 {
    text-align: center;
    color: rgb(2, 2, 8);
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
  
    text-align: left;
    border-bottom: 1px solid #ddd; 
}

th {
    
    background-color: #0a509b;
    color: #fff; 
}
tr:hover {
    background-color: #e2e2e2; 
}