<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/house-8571836_1280.jpg" class="d-block w-100" height="500px" alt="">
      </div>
      <div class="carousel-item">
        <img src="assets/images/real-estate-3337032_1280.jpg" class="d-block w-100" height="500px" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/home-2409037_1280.jpg" class="d-block w-100" height="500px" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  
    <br>
    <div class="logo-box">
  
      <div  class="box-1">
        <img src="/assets/images/3.png">
        
        <pre style="text-align: center;margin-top: 40px;">
  Apply for loan online</pre>
      </div>
  
  
   
        <div class="box-1">
          <img src="assets/images/2.png">
        
          <pre style="text-align: center;margin-top: 40px;">
  Our RM will get in
  touch for details &
  documentation</pre>
      </div>
  
      <div class="box-1">
        <img src="assets/images/1.png">
        
          <pre style="text-align: center;margin-top: 40px;">
  Get loan sanctioned,
  subject to approval</pre>
      </div>
    </div>
  
   <div class="why-choose-us">
      <h2 style="text-align: center;">Why should you choose HomeFirst?</h2>
      <h4 style="text-align: center;">
     
        <pre >At Your Company, we strive to provide exceptional service and value to our customers.
         Here are a few reasons why you should choose us:
        </pre>
    
      </h4>
      <ul class="list">
          <li class="l-1"><h3  style="text-align: center;">Expertise</h3>Our team consists of experienced professionals dedicated to delivering top-notch results.</li>
          <li class="l-1"><h3  style="text-align: center;">Customer Satisfaction:</h3> We prioritize customer satisfaction and go above and beyond to meet your needs.</li>
          <li class="l-1"><h3  style="text-align: center;">Quality:</h3> We offer high-quality products/services that are tailored to your requirements.</li>
          <li class="l-1"><h3  style="text-align: center;">Pricing:</h3> Enjoy competitive pricing without compromising on quality.</li>
          <li class="l-1"><h3  style="text-align: center;">Reliability:</h3> Count on us for reliable and timely delivery of projects.</li>
      </ul>
  </div>
  
  <br>
  
