
                <div style="background-image: url('/assets/images/EMI.jpg'); height: 90vh;">
                    <br>
                <div class=""style="margin-right: 800px;">
                <form [formGroup]="enquiryForm" (ngSubmit)="onSubmitEnquiry()">
                    <div>
                        <h2>Enquiry Form</h2>
                    </div>
                  
                        <div>
                        <input type="text" id="enquiryName" class="form-control" formControlName="enquiryName" placeholder="Your Name">
                    </div>
    
                    <div>
                        <input type="text" id="address" class="form-control" formControlName="address" placeholder="Address">
                    </div>
    
                    <div >
                        <input type="text" id="panCard" class="form-control uppercase" formControlName="panCard" placeholder="PAN Card No">
                    </div>
    
                    <div >
                        <input type="number" id="mobileNo" class="form-control" formControlName="mobileNo" placeholder="Mobile No">
                    </div>
    
                    <div>
                        <input type="email" id="email" class="form-control" formControlName="email" placeholder="Email">
                    </div>

                    <div >
                        <input type="gender" id="gender" class="form-control" formControlName="gender" placeholder="gender">
                    </div>
                   
                    <button type="submit" class="btn btn-submit btn-block">Submit</button>
                    <br>
                    <br>
                    <button type="submit" class="btn btn-submit btn-block" (click)="onApproval()">Process for Loan</button>
                  
                </form>
            </div>
            </div>


