<div style="background-image: url('/assets/images/sl_121021_47240_04.jpg'); background-repeat: no-repeat; background-size: cover; height: 110vh;">
    <div class="container col col-10">
        <div class=""style="margin-left: 800px; padding-top: 40px">
            <div class="form-container">
                <h2>Enquiry Form</h2>
                <form [formGroup]="enquiryForm" (ngSubmit)="onSubmitEnquiry()">
                    <div class="form-group">
                        <input type="text" id="enquiryName" class="form-control" formControlName="enquiryName" placeholder="Your Name">
                    </div>
    
                    <div class="form-group">
                        <input type="text" id="address" class="form-control" formControlName="address" placeholder="Address">
                    </div>
    
                    <div class="form-group">
                        <input type="text" id="panCard" class="form-control uppercase" formControlName="panCard" placeholder="PAN Card No">
                    </div>
    
                    <div class="form-group">
                        <input type="number" id="mobileNo" class="form-control" formControlName="mobileNo" placeholder="Mobile No">
                    </div>
    
                    <div class="form-group">
                        <input type="email" id="email" class="form-control" formControlName="email" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="gender" id="gender" class="form-control" formControlName="gender" placeholder="gender">
                    </div>
                    <!-- <label><b>Gender</b></label>
                    <select name="gender" required="required">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select> -->
                    <button type="submit" class="btn btn-submit btn-block">Submit</button>
                    <br>
                    <br>
                    <button type="submit" class="btn btn-submit btn-block" (click)="onApproval()">Process for Loan</button>
                  
                </form>
            </div>
        </div>
    </div>
</div>

